.expenses_filter {
    color: black;
    
  }
  
  
  .expenses_filter__control {  
    width: 100%;
    align-items: center;
    margin: 1rem 0;
    
  }
  
  .expenses_filter label {
    font-weight: bold;
    margin: 0.5rem 0.3rem ;
  }
  
  .expenses_filter select {
    font: inherit;
    /* padding: 0.5rem 3rem; */
    font-weight: bold;
    border-radius: 6px;
  }